<!DOCTYPE html>
{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}
{{{htmlData.body}}}
<script>var user = '{{htmlData.username}}'</script>
<script src="../public/JS/scripts.js"></script>

<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
                <div id="register-error" class="error2"></div>
                <div class="form-group">
                    <label for="username-register">Username:</label>
                    <input type="text" class="form-control" id="username-register" required="">
                </div>
                <div class="form-group">
                    <label for="pwd-register">Password:</label>
                    <input type="password" class="form-control" id="pwd-register" required="">
                </div>
                <div class="form-group">
                    <label for="pwd-register-conf">Repeat password:</label>
                    <input type="password" class="form-control" id="pwd-register-conf" required="">
                </div>
                <button type="submit" onClick="register()" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
</div>


<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Log in</h4>
            </div>
            <div class="modal-body">
                <div id="login-error" class="error2"></div>
                <div class="form-group">
                    <label for="username-register">Username:</label>
                    <input type="text" class="form-control" id="username-login" required="">
                </div>
                <div class="form-group">
                    <label for="pwd-register">Password:</label>
                    <input type="password" class="form-control" id="pwd-login" required="">
                </div>
                <button type="submit" onClick="login()" class="btn btn-success">Log in</button>
            </div>
        </div>
    </div>
</div>

<div id="changePwModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <div id="change-error" class="error2"></div>
                <div class="form-group">
                    <label for="old-pw">Old password:</label>
                    <input type="password" class="form-control" id="old-pw" required="">
                </div>
                <div class="form-group">
                    <label for="new-pw">New password:</label>
                    <input type="password" class="form-control" id="new-pw" required="">
                </div>
                <div class="form-group">
                    <label for="new-pw2">Repeat new password:</label>
                    <input type="password" class="form-control" id="new-pw2" required="">
                </div>
                <button type="submit" onClick="changePassword()" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="createTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new task</h4>
            </div>
            <div id="ntask" class="modal-body">
                <div id="create-error" class="error2"></div>
                <div class="form-group">
                    <label for="task-title">Title:</label>
                    <input type="text" class="form-control" id="task-title" required="">
                </div>
                <div class="form-group">
                    <label for="task-des">Description:</label>
                    <textarea class="form-control" rows="5" id="task-des"></textarea>
                </div>
                <button type="submit" onClick="newtask()" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>


<div id="taskDetailsModal" class="modal fade" role="dialog">
    <input type="hidden" id="edit-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="details-header" class="modal-header">
                <button id="edit-btn" type="button" class="btn btn-success" onclick="edit()">Edit</button>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="details-error" class="error2"></div>
                <div id="details-body">
                    <div id="details-desc-cont">
                    </div>
                    <div id="details-misc">
                        <select class="form-control" style="font-size: 12px" id="list-select">
                            <option id="op1">to do</option>
                            <option id="op2">doing</option>
                            <option id="op3">done</option>
                        </select>
                        <p id="sessions"></p>
                        <button id="start-timer" type="button" class="btn btn-success" onclick="startTimer()">Start</button>
                        <p id="timer"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="deleteTask()">Delete</button>
                <button type="button" class="btn btn-success" onclick="sendEditedTask()">Save</button>
            </div>
        </div>
    </div>
</div>
</body>

