<!DOCTYPE html>
{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}
<script>
    var user = '{{htmlData.username}}';
</script>
<div id="main-container" class="stuff">
    <div id="todo-list" class="sub-cont">
        <h1>To do:</h1>
        <button class="btn-success add-btn" onclick="createNew()">
            Add new task
        </button>
    </div>
    <div id="doing-list" class="sub-cont">
        <h1 id="doing-label">Doing:</h1>
    </div>
    <div id="done-list" class="sub-cont">
        <h1 id="done-label">Done:</h1>
    </div>
</div>



<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registration</h4>
            </div>
            <div class="modal-body">
                <div id="register-error" class="error2"></div>
                <div class="form-group">
                    <label for="username-register">Username:</label>
                    <input type="text" class="form-control" id="username-register" required="">
                </div>
                <div class="form-group">
                    <label for="pwd-register">Password:</label>
                    <input type="password" class="form-control" id="pwd-register" required="">
                </div>
                <button type="submit" onClick="register()" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
</div>

<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Log in</h4>
            </div>
            <div class="modal-body">
                <div id="login-error" class="error2"></div>
                <div class="form-group">
                    <label for="username-register">Username:</label>
                    <input type="text" class="form-control" id="username-login" required="">
                </div>
                <div class="form-group">
                    <label for="pwd-register">Password:</label>
                    <input type="password" class="form-control" id="pwd-login" required="">
                </div>
                <button type="submit" onClick="login()" class="btn btn-success">Log in</button>
            </div>
        </div>
    </div>
</div>

<div id="createTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new task</h4>
            </div>
            <div id="ntask" class="modal-body">
                <div id="create-error" class="error2"></div>
                <div class="form-group">
                    <label for="task-title">Title:</label>
                    <input type="text" class="form-control" id="task-title" required="">
                </div>
                <div class="form-group">
                    <label for="task-des">Description:</label>
                    <textarea class="form-control" rows="5" id="task-des"></textarea>
                </div>
                <button type="submit" onClick="newtask()" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="taskDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="details-header" class="modal-header">
                <h4 id="details-title" class="modal-title"></h4>
                <button id="edit-btn" type="button" class="btn btn-default" onclick="edit()">Edit</button>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="details-error" class="error2"></div>
                <div id="details-body">
                    <div id="details-desc-cont">
                    </div>
                    <div id="details-misc">
                        <select class="form-control" style="font-size: 12px" id="list-select">
                            <option id="op1">To do</option>
                            <option id="op2">Doing</option>
                            <option id="op3">Done</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    const register = () => {
        var data = {};
        data.username = document.getElementById('username-register').value;
        data.password = document.getElementById('pwd-register').value;

        $.post('./register', {data}, (result) => {
            if (result.message == 'egzistuoja') {
                document.getElementById('register-error').innerHTML = "Vartotojas su tokiu vardu ar el. paštu jau yra.";
            } else {
                location.reload();
            }
        });
    };

    const login = () => {
        var data = {};
        data.username = document.getElementById('username-login').value;
        data.password = document.getElementById('pwd-login').value;

        $.post('./login', {data}, (result) => {
            if (result == 'password is wrong') {
                document.getElementById('login-error').innerHTML = 'The password is incorrect';
            } else if (result == 'user doesnt exist') {
                document.getElementById('login-error').innerHTML = 'User does not exist';
            } else {
                location.reload();
            }
        });
    };

    const createNew = () => {
        $("#createTaskModal").modal('toggle');
    };

    const newtask = () => {
        var title = document.getElementById('task-title').value;
        var description = document.getElementById('task-des').value;
        $.post('./addtask', {user: user, title: title, desc: description}, (result) => {
            generateTaskSnippet(title, description, 'todo', result);
            $("#createTaskModal").modal('toggle');
        });
    };

    const generateTaskSnippet = (title, desc, status, id) => {
        var main = document.createElement('div');
        main.setAttribute('class', 'task');
        main.setAttribute('id', id);
        var titlediv = document.createElement('div');
        titlediv.setAttribute('class', 'title');
        var titleh = document.createElement('h2');
        titleh.setAttribute('class', 'title-txt');
        var titletxt = document.createTextNode(title);

        var descdiv = document.createElement('div');
        descdiv.setAttribute('class', 'descr');
        var descp = document.createElement('p');
        descp.setAttribute('class', 'descr-txt');
        var desctxt = document.createTextNode(desc);

        titleh.appendChild(titletxt);
        titlediv.appendChild(titleh);
        descp.appendChild(desctxt);
        descdiv.appendChild(descp);
        main.appendChild(titlediv);
        main.appendChild(descdiv);
        if (status == 'todo') {
            $(".add-btn").after(main);
        } else if (status == 'doing') {
            $("#doing-label").after(main);
        } else {
            $("#done-label").after(main);
        }
    };

    const edit = () => {
        const descHtml = '<div class="form-group" style="width: 100%" >' +
            '<textarea class="form-control" rows="5" id="edit-desc"></textarea>' +
            '</div>';
        const desc = document.getElementById('details-desc').innerHTML;
        console.log(desc);
        $('#details-desc-cont').html(descHtml);
        $('#edit-desc').html(desc);

        const title = document.getElementById('details-title').innerHTML;
        $('#details-title').remove();
        var titleHtml = '';
        titleHtml += '<div id="title-edit" class="form-group">' +
            `<input type="text" class="form-control" id="edit-title-val" required="" value="${title}">` +
            '</div>';
        titleHtml += document.getElementById('details-header').innerHTML;
        $('#details-header').html(titleHtml);
    };

    const getDetailsModal = (item) => {
        $('#details-title').html(item.title);
        const desc = `<p id="details-desc">${item.description}</p>`;
        $('#details-desc-cont').html(desc);
        if (item.status == 'todo') {
            document.getElementById('op1').setAttribute('selected', '1');
        } else if (item.status == 'doing') {
            document.getElementById('op2').setAttribute('selected', '1');
        } else {
            document.getElementById('op3').setAttribute('selected', '1');
        }
        $('#taskDetailsModal').modal('toggle');
    };

    $(document).ready(() => {
        $.get('./getusertasks', {user: user}, (result) => {
            result.forEach((item) => {
                generateTaskSnippet(item.title, item.description, item.status, item._id);
            });
            $(".task").on('click', (event) => {
                $.get('./getonetask', { id: event.target.id }, (item) => {
                    getDetailsModal(item);
                });
            });
        });
    });

</script>


